<div class="container"style="height: 1300px;">
    <h2 class="lo">Following User</h2>
    <% if @users.exists? %>
        <% @users.each do |user| %>
            <div class="row border p-2">
                <tr>
                    <div class="col-2">
                        <td>
                            <%= link_to user_path(user.id) do %>
                                <%= attachment_image_tag user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg" %>
                            <% end %>
                        </td>
                    </div>
                    <div class="col-9">
                        <td><%= link_to user.name,user_path(user.id)%></td>/
                        <td>
                          <%= link_to user_followings_path(user.id) do %>
                            <%= user.followings.count%> フォロー中
                          <% end %>/
                        </td>
                        <td>
                          <%= link_to user_followers_path(user.id) do %>
                            <%= user.followers.count%> フォロワー
                          <% end %>/
                        </td>
                        <td>
                            <% if current_user.following?(user) %>
                                <button type="button" class="btn btn-outline-dark ">
                                  <%= link_to "フォロー中", user_relationships_path(user.id), method: :delete,class:'fas fa-user-check' %>
                                </button>
                              <% else %>
                               <button type="button" class="btn btn-outline-dark ">
                                 <%= link_to "フォローする", user_relationships_path(user.id), method: :post,class:'fas fa-user-plus' %>
                               </button>
                              <% end %>
                        </td>
                        <div class="nested col-12">
                            <td><font color=white><%= user.introduction%></td>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </tr>
            </div>
        <% end %>
    <% else %>
        <div class="mx-auto"style="height: 700px;">
            <p class="lo">ユーザーはいません</p>
        </div>
    <% end %>
   
    <%= paginate @users %>
</div>
