<table class='table'>
  <tr><%= attachment_image_tag user, :profile_image, :fill, 200, 200, fallback: "no_image.jpg" %></tr>
  <tr>
	  <th><%= user.name %></th>
  </tr>
  <tr>
    <th><%= user.introduction %></th>
  </tr>
  <tr>
     <th>follows</th>
     <th><%= link_to user.followings.count, user_followings_path(user.id) %></th>
  </tr>
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count,user_followers_path(user.id) %></th>
  </tr>

</table>



<% if user == current_user %>
<div class='div'>
  <%= link_to '',edit_user_path(user),class: "btn btn-outline-secondary btn-block fas fa-user-cog edit_user_#{user.id}" %>
</div>
<% end %>

<br>
<%= form_with url: finder_path, method: :get, local: :true do |f| %>
      <%= f.select :range, options_for_select([['User'], ['Post']]) %>
      <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["部分一致","partial_match"]]) %>
      <%= f.text_field :word %>
      <%= f.submit "検索" %>
<% end %>