<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <h2 class="lo">User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="lo">New Post</h2>
      <%= render 'form', post: @post %>
    </div>
    <div class='col-9'>
        
  		<h2 class="lo">Post detail</h2>
      <div class="row border p-2">
  		  <tr>
  		    <div class="col-2">
  		      <td>
  		       <%= link_to user_path(@user.id) do %>
                <%= attachment_image_tag(@post.user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %><br>
              <% end %>
  		      </td>
  		    </div>
    		  <div class="col-10">
    		    <td><font color=white><%= @user.name %></td>
    		    <td>
    		      <% if current_user.following?(@user) %>
                <button type="button" class="btn btn-outline-dark ">
                  <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete,class:'fas fa-user-check' %>
                </button>
              <% else %>
               <button type="button" class="btn btn-outline-dark ">
                 <%= link_to "フォローする", user_relationships_path(@user.id), method: :post,class:'fas fa-user-plus' %>
               </button>
              <% end %>
    		    </td>
    		    <td><font color=white><%= @post.created_at %></td>
    		    <div class="nested col-12"><p></p></div>
    		    <div class="nested col-10">
    		      <td><font color=white><%= @post.body %></td>
    		      <div class="nested col-10">
    		        <td><%= attachment_image_tag @post, :image, :fill, 150, 100, format: 'jpeg' %></td>
    		        <div class="nested col-12">
    		          <td><p></p></td>
    		        </div>
    		        <div class="nested col-5">
    		          <td>
      		          <% if @user.id == current_user.id %>
                       <td><%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_post_#{@post.id}"%></td>
                    <% end %>
    		          </td>
    		        </div>
    		        <div class="nested col-4">
    		          <!--いいね機能-->
    		          <td>
                    <div id="favorites_buttons_<%= @post.id %>">
                      <%= render partial: 'favorites/favorite', locals: { post: @post} %>
                    </div>
                  </td>
    		        </div>
    		      </div>
    		    </div>
    		  </div>
        </tr>
      </div>
        
      <!--コメント機能-->
      <h2 class="lo">Comments</h2>
        <% if user_signed_in? %>
          <%= render partial: 'post_comments/form', locals: { comment: @comment, post: @post } %>
        <% end %>
        
        <div class="comments_index">
          <div id='post_comments_area'>
            <%= render partial: 'post_comments/index', locals: { comments: @comments } %>
          </div>
        </div>
        
  </div>
</div>